@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

html {
    scroll-behavior: smooth;
}
:root {
    --swiper-theme-color: #fff !important;
}
body {
    background-color: #F3F4F6;
    font-family: "SF Pro Text" !important
}
/* Scroll CSS */
::-webkit-scrollbar {
    background-color: #fff;
  border-radius: 4px;
  border: 0px solid#E5E7EB;
  width: 6px; 
  height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #8080808c; 
    border-radius: 10px;
}